/* Direction Icons */
.direction-icon-wrapper { min-width: 40px; display: inline-block; text-align: center; }
.direction-icon { padding: 0; margin: 0; vertical-align: middle; image-rendering: crisp-edges; }

/* Slight Font Increase */
.font-slightly-bigger { font-size: 1.125em; }